@model appfutebol.Dominio.Jogador
@{
    ViewBag.Title = "Details";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">       
        <h2>Details</h2>
        <div>
            <h4>Jogador</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Clube.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Clube.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Posicao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Posicao)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GolFeitos)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.GolFeitos)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Salario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Salario)             
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InicioContrato)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InicioContrato)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FinalContrato)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FinalContrato)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DataInclusao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataInclusao)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ativo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Excluido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Excluido)
                </dd>               
            </dl>
            <button class="btn-info col-md-offset-2" type="submit">Atualizar Salario</button>
        </div>
    </div>
}